[DEFAULT]
destemail = {{ destmail }}    
sender = {{ sendermail }}    
sendername = {{ sendername }}    
mta = {{ mta }}   
actionban = {{ banaction }}
ignoreip = {{ f2bignoreip }}
[sshd]
enabled = {{ f2bsshenable }}
port = {{ f2bsshport }}
filter = {{ f2bsshfilter }}
findtime = {{ f2bsshfindtime }}
maxretry = {{ f2bsshmaxretry }}
bantime = {{ f2bsshtime }}
